[Unit]
Description=Sync Controller
After=network.target

[Service]
User=syncd
Restart=on-failure
WorkingDirectory=/data/SyncController
ExecStart=node /data/SyncController/index.js

[Install]
WantedBy=multi-user.target
